{% extends "base.html" %}

{% load crispy_forms_tags %}

{% if user and not user.is_anonymous %}

{% endif %}


{% block content %}

    <div class="login-form">
        <a href="#" class="btn btn-default social-button">ID card</a>
        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class="btn btn-primary social-button">Facebook</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-danger social-button">Google</a>


{#    {% crispy form %}#}
{##}
{#    <a href="{% url 'password_reset' %}">Forgot your password?</a>#}
    </div>


{% endblock %}
