
.navbar {
  height: 80px;
}

.header-text {
  margin-top: 20px;

  a {
    padding: 0 !important;
    line-height: 0;
    text-align: right;
    margin-right: 10px;
  }
}

.navbar-brand {

  img {
    border-radius: 100%;
  }
}

.login-link {
  margin-top: 10  px;
}

.user-image {
  height: 50px;
  width: 50px;
  border-radius: 100%;

  margin-top: 15px;

  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}